@import 'modules/grids';
@import 'modules/colours';
@import 'modules/mixins';
@import 'modules/typography';
@import 'modules/cards';

$xs-devicies-max: 575px;
$small-devices-min: 576px;
$small-devices-max: 767px;
$medium-devices-min: 768px;
$medium-devices-max: 991px;
$large-devices-min: 992px;
$large-devices-max: 1199px;
$xl-devices-min: 1200px;


.innerContainerWrapper {
  padding-right: 20px;
  padding-left: 20px;
}

.innerContainer {
  padding: 10px;

}

.innerContainer--lightBg {
  background-color: white;  
}

.innerContainer--darkBg {
  background-color: #eee;
}

.innerContainer--border {
  border-left: 5px solid #565656;
}


/* way of naming blocks, elements and modifiers in a self contained block */
/*.block-class-name {
list-style: none;
  &_element {
    font-size: 15px;
  }
  &--modifier {
    color: green;
  }
}

body, form {
  margin:0;
  padding:0;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}*/

.two-col-text {
	@include text-cols(2); 
}

.three-col-text {
	@include text-cols(3); 
}

.breakpoint-active-sm {
  display: none;
}

.breakpoint-active-md-lg {
  display: none;
}

.breakpoint-active-xl {
  display: none;
}

.breakpoint-active-md--side-card {
  display: block;
}


/*  .breakit {
    display: block;
    /*width: 100px;*/
  /*}*/


/* Bootstrap media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: $xs-devicies-max) {
  .container-fluid--sm-padding {
    padding-left: 0px;
    padding-right: 0px;
  }



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: $small-devices-min) and (max-width: $small-devices-max) {
  .breakpoint-active-sm {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $medium-devices-min) and (max-width: $medium-devices-max) {
  .breakpoint-active-md-lg {
    display: block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: $large-devices-min) and (max-width: $large-devices-max) {
  .breakpoint-active-md-lg {
    display: block;
  }

  .breakpoint-active-md-lg-xl--side-card {
    display: none !important;
  }
  /*  .breakit {
    display: none;
  }*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $xl-devices-min) {
  .breakpoint-active-xl {
    display: block;
  }
    .breakpoint-active-md-lg-xl--side-card {
    display: none !important;
  }
}



h1, h2, h3, h4, h5, h6 {
  font-family: theSerif Plain;
  font-weight: bold;
}

p {
  font-family: Frutiger Light Condensed;
  font-size: 1.2rem;
  line-height: 1.4;
}