.testing {
  width: percentage(5/7);
}

.newTest {
	width: percentage(4/8);
}

.anotherTest {
	width: percentage(6/9);
}

.oneMoreTime {
	width: percentage(5/12);
}

.oneMoreTime2 {
	width: percentage(6/12);
}