$xs-devicies-max: 575px;
$small-devices-min: 576px;
$small-devices-max: 767px;
$medium-devices-min: 768px;
$medium-devices-max: 991px;
$large-devices-min: 992px;
$large-devices-max: 1199px;
$xl-devices-min: 1200px;

$bodyPadding: 10px;

body {
	padding: $bodyPadding;
}


/* set all headline sizes */
$headlines: (
  h1: 35px,
  h2: 30px,
  h3: 25px,
  h4: 20px,
  h5: 15px,
  h6: 10px
);

/* get all headline sizes */
@each $prop, $val in $headlines {
  .#{$prop} {
    font-size: $val;
  }
}

/* set all brand colours */
$ei-colors: (
  ei-black: #000,
  ei-grey: #aeaeae,
  ei-white: #fff,
);

/* get all brand colours */
@each $prop, $val in $ei-colors {
  .#{$prop} {
    color: $val;
  }
}

$ten-grey: #e5e5e5;
$twenty-grey: #cccccc;
$thirty-grey: #b2b2b2;
$forty-grey: #999999;


/* way of naming blocks, elements and modifiers in a self contained block */
.block-class-name {
list-style: none;
  &_element {
    font-size: 15px;
  }
  &--modifier {
    color: green;
  }
}

/* modifying bootstraps defaults */ 
/* remove padding from columns */
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  padding: 0;
}

.container-fluid {
  padding:0;
  margin:0;
}

.row {
	margin:0;
	padding: 0 10px;
}

/* end of modifying bootstraps defaults */


body, form {
  margin:0;
  padding:0;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.grey-background {
   background-color: grey;
}

@mixin text-cols($col-num) {
	-webkit-column-count: $col-num;
	-moz-column-count: $col-num;
	column-count: $col-num;
}

.two-col-text {
	@include text-cols(2); 
}

.three-col-text {
	@include text-cols(3); 
}

.button-container {
  width:20%;
  float:right;
}

.square {
  position: relative;
  width: 50%;
  background-color: #aeaeae;
  float:right;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.grey {
	background-color: #e5e5e5;
}



.rectangle {
  position: relative;
  width: 50%;
  background-color: #aeaeae;
  float:right;
}

.rectangle:after {
  content: "";
  display: block;
  padding-bottom: 50%;
}


.logo {
  width: 200px;
  height: 70px;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  background-color: #aeaeae;
}

/*.logo-img {
  display: inline-block;
  width:100%;
  height: 100%;
}
*/


.ten-grey-background {
  background-color:$ten-grey !important;
}

.twenty-grey-background {
  background-color:$twenty-grey !important;
}

.thirty-grey-background {
  background-color:$thirty-grey !important;
}

.forty-grey-background {
  background-color:$forty-grey !important;
}


.inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    bottom: 20%;
    position: absolute;
    left: 0;
    text-align: center;
}

.inline-list__item {
  display:inline-block;
  margin-right:20px;
  border-bottom: 5px solid $ten-grey;
}

.inline-list__item:hover {
  color:grey;
  cursor: pointer;
  border-bottom: 5px solid #000;
}






































/* nested elements within the nav tag */
nav {
  ul {
    /* style goes here */
  }

  li { 
    /* style goes here */
  }

  a {
    /* style goes here */
  }
}


/* Bootstrap media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: $xs-devicies-max) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: $small-devices-min) and (max-width: $small-devices-max) {
  .butoon-container {
    width:100% !important;
    left:0;
  }
  .square, .rectangle {
    width:30%;
    float: left;
    height:40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: $medium-devices-min) and (max-width: $medium-devices-max) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: $large-devices-min) and (max-width: $large-devices-max) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: $xl-devices-min) {
}



