/* modifying bootstraps defaults */
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  padding: 0; }

.container-fluid {
  padding: 0;
  margin: 0; }

.row {
  margin: 0;
  padding: 0 10px; }

/* end of modifying bootstraps defaults */
/* set all brand colours */
/* get all brand colours */
.ei-black {
  color: #000; }

.ei-grey {
  color: #aeaeae; }

.ei-white {
  color: #fff; }

/* set all headline sizes */
/* get all headline sizes */
.h1 {
  font-size: 75px; }

.h2 {
  font-size: 30px; }

.h3 {
  font-size: 25px; }

.h4 {
  font-size: 20px; }

.h5 {
  font-size: 15px; }

.h6 {
  font-size: 10px; }

.card {
  margin: 5px !important;
  border-radius: 0 !important; }

/* way of naming blocks, elements and modifiers in a self contained block */
.block-class-name {
  list-style: none; }
  .block-class-name_element {
    font-size: 15px; }
  .block-class-name--modifier {
    color: green; }

body, form {
  margin: 0;
  padding: 0; }

.form {
  padding-top: 20px;
  padding-bottom: 20px; }

.grey-background {
  background-color: grey; }

.two-col-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.three-col-text {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

/* Bootstrap media queries */
/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
