/* modifying bootstraps defaults */
/*.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  padding: 0;
}

.container-fluid {
  padding:0;
  margin:0;
}

.row {
	margin:0;
	padding: 0 10px;
}*/
/*
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
*/
/* end of modifying bootstraps defaults */
/* set all brand colours */
/* get all brand colours */
.ei-black {
  color: #000; }

.ei-grey {
  color: #aeaeae; }

.ei-white {
  color: #fff; }

/*$background-color: #eeeeee;*/
.background {
  background-color: #e9e9e9; }

.background__innerContainer {
  background-color: #fff; }

.container-border--placeholder {
  border-left: 5px solid #565656; }

/* set all headline sizes */
/* get all headline sizes */
.h1 {
  font-size: 75px; }

.h2 {
  font-size: 30px; }

.h3 {
  font-size: 25px; }

.h4 {
  font-size: 20px; }

.h5 {
  font-size: 15px; }

.h6 {
  font-size: 10px; }

/* adding to, or overriding base styles for cards */
.card {
  background-color: #eeeeee;
  border: 0px solid;
  border-radius: 0;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important; }

.card-img-top {
  border-radius: 0; }

.card-title, .card-text {
  margin: 10px; }

.card-text:last-child {
  margin-bottom: 10px; }

.card--lightBg {
  background-color: #fff; }

.card--darkBg {
  background-color: #f4f4f4; }

.card-text__cta {
  color: #868e96 !important; }

.card-img-left {
  float: left;
  width: 50%; }

.card-img-right {
  float: right;
  width: 50%; }

.card-block--right {
  float: right;
  width: 50%; }

.card-block--left {
  float: left;
  width: 50%; }

/* enables image and text div to sit side by side */
/* To be used on the six column grid - image on side layout */
.card--row {
  flex-direction: row !important; }

/*.card-img-side {
	width:100%;
	float:left;
}
*/
/*.card-block--right-text {
	padding-left:0;
}*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex: 1 0 0%; }

.flex-child {
  background-color: #fff;
  padding: 20px;
  border: black solid 1px;
  width: 50%; }

/*.card-img-side {
	width: 50%;
}
*/
.card--side {
  flex-direction: row !important; }

.side-img-container {
  width: 100%; }

.side-img-container img {
  width: 100%; }

/*.card-img-bottom {
  color: #fff;
  height: 20rem;
  background: url("//placehold.it/500x280") center no-repeat;
  background-size: cover;
}*/
.testCol {
  padding-right: 15px;
  padding-left: 0;
  margin-left: 0;
  background-color: #fff; }

.card-img-side {
  min-width: 200px; }

.innerContainerWrapper {
  padding-right: 20px;
  padding-left: 20px; }

.innerContainer {
  padding: 10px; }

.innerContainer--lightBg {
  background-color: white; }

.innerContainer--darkBg {
  background-color: #eee; }

.innerContainer--border {
  border-left: 5px solid #565656; }

/* way of naming blocks, elements and modifiers in a self contained block */
/*.block-class-name {
list-style: none;
  &_element {
    font-size: 15px;
  }
  &--modifier {
    color: green;
  }
}

body, form {
  margin:0;
  padding:0;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}*/
.two-col-text {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.three-col-text {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.breakpoint-active-sm {
  display: none; }

.breakpoint-active-md-lg {
  display: none; }

.breakpoint-active-xl {
  display: none; }

.breakpoint-active-md--side-card {
  display: block; }

/*  .breakit {
    display: block;
    /*width: 100px;*/
/*}*/
/* Bootstrap media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  .container-fluid--sm-padding {
    padding-left: 0px;
    padding-right: 0px; } }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .breakpoint-active-sm {
    display: block; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .breakpoint-active-md-lg {
    display: block; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .breakpoint-active-md-lg {
    display: block; }
  .breakpoint-active-md-lg-xl--side-card {
    display: none !important; }
  /*  .breakit {
    display: none;
  }*/ }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .breakpoint-active-xl {
    display: block; }
  .breakpoint-active-md-lg-xl--side-card {
    display: none !important; } }

h1, h2, h3, h4, h5, h6 {
  font-family: theSerif Plain;
  font-weight: bold; }

p {
  font-family: Frutiger Light Condensed;
  font-size: 1.2rem;
  line-height: 1.4; }
