/* modifying bootstraps defaults */
/*.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xl-12 {
  padding: 0;
}

.container-fluid {
  padding:0;
  margin:0;
}

.row {
	margin:0;
	padding: 0 10px;
}*/
/*
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
*/
/* end of modifying bootstraps defaults */
/* set all brand colours */
/* get all brand colours */
.ei-black {
  color: #000; }

.ei-grey {
  color: #aeaeae; }

.ei-white {
  color: #fff; }

.background {
  background-color: #eeeeee; }

.background__innerContainer {
  background-color: #fff; }

.container-border--placeholder {
  border-left: 5px solid #565656; }

/* set all headline sizes */
/* get all headline sizes */
.h1 {
  font-size: 75px; }

.h2 {
  font-size: 30px; }

.h3 {
  font-size: 25px; }

.h4 {
  font-size: 20px; }

.h5 {
  font-size: 15px; }

.h6 {
  font-size: 10px; }

/* adding to, or overriding base styles for cards */
.card {
  background-color: #eeeeee;
  border: 0px solid;
  border-radius: 0;
  margin-left: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important; }

.card-img-top {
  border-radius: 0; }

.card-title, .card-text {
  margin: 10px; }

.card-text:last-child {
  margin-bottom: 10px; }

.card--light-background {
  background-color: #fff; }

/*.container-fluid__inner-container {
  padding-left: 15px;
  padding-right: 15px;
}
*/
.container-fluid--inner-container {
  padding-right: 20px;
  padding-left: 20px; }

.container-fluid--light-background {
  background-color: white; }

/* way of naming blocks, elements and modifiers in a self contained block */
/*.block-class-name {
list-style: none;
  &_element {
    font-size: 15px;
  }
  &--modifier {
    color: green;
  }
}

body, form {
  margin:0;
  padding:0;
}

.form {
  padding-top: 20px;
  padding-bottom: 20px;
}

.grey-background {
   background-color: grey;
}

.two-col-text {
	@include text-cols(2); 
}

.three-col-text {
	@include text-cols(3); 
}*/
.breakpoint-active-sm {
  display: none; }

.breakpoint-active-md-lg {
  display: none; }

.breakpoint-active-xl {
  display: none; }

/* Bootstrap media queries */
/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  .breakpoint-active-sm {
    display: block; } }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .breakpoint-active-md-lg {
    display: block; } }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  .breakpoint-active-md-lg {
    display: block; } }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .breakpoint-active-xl {
    display: block; } }
