body {
  padding: 10px; }

/* set all headline sizes */
/* get all headline sizes */
.h1 {
  font-size: 35px; }

.h2 {
  font-size: 30px; }

.h3 {
  font-size: 25px; }

.h4 {
  font-size: 20px; }

.h5 {
  font-size: 15px; }

.h6 {
  font-size: 10px; }

/* set all brand colours */
/* get all brand colours */
.ei-black {
  color: #000; }

.ei-grey {
  color: #aeaeae; }

.ei-white {
  color: #fff; }

/* way of naming blocks, elements and modifiers in a self contained block */
.block-class-name {
  list-style: none; }
  .block-class-name_element {
    font-size: 15px; }
  .block-class-name--modifier {
    color: green; }

/* nested elements within the nav tag */
nav ul {
  /* style goes here */ }

nav li {
  /* style goes here */ }

nav a {
  /* style goes here */ }

/* Bootstrap media queries */
/* Extra small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
