/* adding to, or overriding base styles for cards */
.card {
	background-color: #eeeeee;
	border: 0px solid;
	border-radius: 0;
	margin-left:5px !important;
	margin-right:5px !important;
	margin-bottom: 10px !important;
}

.card-img-top {
	border-radius: 0;
}

.card-title, .card-text, .card-title__events {
	margin: 10px;
}

.card-text__date {
    margin: 10px 10px 0 10px;
    font-weight:bold;
}

.bottom {
	height: 70px;
	position: absolute;
	bottom: 0;
}

.card-title__events {
	padding-bottom: 70px;
}

.card-block__edit {
	position: relative;
	padding-bottom: 50px;
}

.card-text__date__cta {
	margin-top: 0;
}

.card-text:last-child {
	margin-bottom: 10px;
}

.card--lightBg {
	background-color: #fff;
}

.card--darkBg {
	background-color: #f4f4f4;
}

.card-text__cta {
	color: #000 !important;
}

/* enables image and text div to sit side by side */
/* To be used on the six column grid - image on side layout */
.card--row {
	flex-direction: row !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex:1 0 0%;
}

.flex-child {
	background-color: #fff;
	padding:20px;
	border: black solid 1px;
	width:50%;
}

.card--side {
	flex-direction: row !important;
}

.side-img-container {
	width:100%;
}

.side-img-container img {
	width:100%;
}

.card-group {
	display: flex;
	width: 100%;
}

.card-block {
	flex: 1 1 auto;
}

.card-footer__events {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 10px;
    border: 0;
}

.card-footer {
	background-color: transparent !important;
}
/*
.card-footer--lightBg {
	background-color: #fff;
}
*/