/* adding to, or overriding base styles for cards */

.card {
	background-color: #eeeeee;
	border: 0px solid;
	border-radius: 0;
	margin-left:5px !important;
	margin-right:5px !important;
	margin-bottom: 10px !important;
}

.card-img-top {
	border-radius: 0;
}

.card-title, .card-text {
	margin: 10px;
}

.card-text:last-child {
	margin-bottom: 10px;
}

.card--lightBg {
	background-color: #fff;
}

.card--darkBg {
	background-color: #f4f4f4;
}

.card-text__cta {
	color: #868e96!important;
}

.card-img-left {
 	float:left;
 	width: 50%;
 }

 .card-img-right {
 	float:right;
 	width: 50%;
 }

.card-block--right {
	float:right;
	width:50%;
}

.card-block--left {
	float:left;
	width:50%;
}

/* enables image and text div to sit side by side */
/* To be used on the six column grid - image on side layout */
.card--row {
	flex-direction: row !important;
}

/*.card-img-side {
	width:100%;
	float:left;
}
*/
/*.card-block--right-text {
	padding-left:0;
}*/
